/*
  MAIN
*/

body {
  width: 1200px;
  font-family: 'Noto Sans', sans-serif;
  font-size: small;
  margin: auto;
  /* border-left: 1px dotted red;
  border-right: 1px dotted red; */
}

.main {
  width: 1200px;
  /* border: 1px dotted blue; */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  width: 1200px
}

.spinner {
  margin-left: 50%;
  margin-top: 25%;
  height: 250px;
  width: 250px;
}

.logoheader {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.toprightHeader {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.logo {
  margin-top: 10px;
  font-size: 60px;
  color: teal;
}

.logotext {
  font-size: 25px;
}

.search {
  width: 500px;
  margin-top: 5px;
  height: 30px;
  border-style: none;
  padding-top: 5px;
  outline:none;
}

.searchbar {
  border-bottom: 1px solid black;
  padding: 1px;
}

.searchIcon {
  font-size: 20px;
}

.shoppingBag {
  margin-top: 15px;
  font-size: 25px;
  padding: 5px;
}

.star {
  color: teal;
  font-size: 16px;
}

/*
  Related Items
*/

.relatedSection, .outfitsSection {
  height: 500px;
  width: auto;
}

.related {
  height: 450px;
  width: 1200px;
  display: grid;
  position: relative;
  overflow: hidden;
  grid: auto / auto-flow max-content;
  z-index: 1;
  padding-left: 25px;
}

.sectionTitle {
  font-weight: lighter;
  padding-left: 25px;
}

/*
  Product Cards
*/

.productCard {
  border: 1px solid black;
  width: 255px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  transition: opacity 0.5s;
  opacity: 1;
}

.productCardImg {
  width: 255px;
  height: 300px;
  position: relative;
}

.productCardImg :hover {
  cursor: pointer;
  opacity: .90;
}

.productImages {
  width: 255px;
  height: 300px;
}

.productCardDesc {
  padding-left: 10px;
  padding-top: 10px;
  width: 255px;
  height: 50px;
}

.productCardRating {
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
  width: 255px;
}

.starCard, .actionCard {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 25px;
  color:teal;
}

.starCard :hover {
  opacity: 100%;
}

.cardCat, .cardName, .cardPrice {
  padding: 1px;
}

.cardPrice {
  font-size: small;
  font-weight: lighter;
  display: flex;
  justify-content: flex-start;
  width: 255px;
}

.salePrice {
  color: red;
}

.defaultPrice {
  text-decoration: line-through;
  color: black;
}

.cardLoader {
  width: 255px;
  height: 400px;
  position: relative;
}

.cardSpinner {
  position: absolute;
  top: 40%;
  left: 45%;
}

/*
  Questions Section
*/

.questionsSection {
  width: 1200px;
  height: 400px;
  margin-top: 20px;
}

/*
  Outfits
*/

.plusCardArea {
  background-color: #cccccc;
  color: white;
  height: 300px;
  width: 255px;
  position: relative;
}

.plusCardArea:hover {
  background-color: teal;
  color: white;
  height: 300px;
  width: 255px;
  cursor: pointer;
  /* position: relative; */
}

.plusSymbol {
  position: absolute;
  top: 42%;
  left: 42%;
  font-size: 50px;
}


.plusSymbolText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.outfits {
  height: 450px;
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}

/*
  MODAL
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, .15);
  z-index: 2;
}

.modal-main {
  position:fixed;
  background: white;
  width: 770px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
}

.modalTable {
  width: 750px;
  height: 300px;
  padding: 10px;
  padding-bottom: 30px;
}

.modalData {
  width: 250px;
  height: 10px;
  text-align: center;
  padding: 3px;
}

.tableHead {
  width: 750px;
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*
  CAROUSEL
*/

.carousel {
  overflow: hidden;
  position: relative;
}

.rightArrow {
  position: absolute;
  top:170px;
  left:1125px;
  font-size: 30px;
  z-index: 14;
}

.rightArrow:hover, .leftArrow:hover {
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 170px;
  left: 0px;
  font-size: 30px;
  z-index: 14;
}

/*
  STARS
*/

.single-star-outline {
  height: 36px;
  width: 31px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: #333333;
}

.single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}