/*******************
  MAIN DIVS
********************/

.reviewMain {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 1400px;
  height: auto;
  padding: 20px;
  /* background-color: pink; */
  /* border: 2px solid black; */
  /* overflow-y: auto; */
}

.reviewSideBar {
  display: flex;
  flex-direction: column;
  height: 1150px;
  width: 400px;
  margin-right: 30px;
  padding: 20px 10px;
  /* background-color: gray; */
  /* border: 2px solid rgb(8, 88, 8); */
}

.reviewList {
  height: 1000px;
  width: 900px;
  /* border: 2px solid black; */
  overflow-y: auto;
}

.reviewList::-webkit-scrollbar {
  width: 0;
  height: 0;
  /* background: transparent; */
}

/*******************
  SIDE BAR
********************/

/*
  AVERAGE RATING
*/

.averageRating {
  display: flex;
  /* border: 1px solid gray; */
}

/*
  RECOMMENDATIONS
*/

/*
  RATING BREAKDOWNS
*/

.ratingBreakdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  /* border: 1px solid gray; */
}

.reviewBarSectionOff,
.reviewBarSectionOn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: inherit;
  /* border: 1px solid rgb(65, 65, 65); */
}

.reviewBarSectionOn {
  background-color: rgba(0, 128, 128, 0.274);
  /* border: 5px solid teal; */
}

.reviewBarSectionOff:hover {
  cursor: pointer;
  /* background-color: teal; */
  /* transition: 0.3s; */
}

.reviewBarSectionOn:hover {
  cursor: pointer;
  /* background-color: transparent; */
  /* transition: 0.3s; */
}

.reviewBarLabel {
  width: 50px;
  margin-right: 10px;
}

.reviewBar {
  height: 10px;
  width: 300px;
  margin-top: 30px;
  /* background-color: pink; */
  /* border: 2px solid red; */
}

/*
  CHARACTERISTICS
*/

.reviewCharacteristicSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  /* border: 2px solid black; */
}

.reviewCharacteristicLabel {
  height: 10px;
  width: 50px;
  margin-right: 10px;
}

.reviewCharacteristicBarSection {
  display: flex;
  flex-direction: row;
}

.reviewCharacteristicBar {
  height: 10px;
  /* width: 300px; */
  background-color: gray;
  margin-top: 15px;
  margin-right: 2px;
}

.reviewCharacteristicBarLabels {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: 60px;
  justify-content: space-between;
  /* text-align: center; */
  height: 30px;
  /* font-size: 30px; */
}




/**********************
  REVIEW LIST
***********************/

.reviewListHeader {
  display: flex;
  flex-direction: row;
}

.reviewTile {
  /* background-color: red; */
  /* height: 200px; */
  border-bottom: 3px solid gray;
  padding: 4px 10px;
}

.reviewUserInfo {
  display: flex;
  flex-direction: row;
}

.reviewBodySection {
  overflow-wrap: break-word;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.reviewPhotoThumbnailSection {
  /* height: 150px; */
  /* background-color: pink; */
}

.reviewPhotoThumbnail {
  height: 100px;
  margin-right: 10px;
}

.reviewResponse {
  background-color: rgba(180, 179, 179, 0.938);
  width: 80%;
}

.reviewInteractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.reviewHelpful {
  display: flex;
  flex-direction: row;
}

.reviewHelpful p{
  margin-right: 5px;
}

.reviewExpandButtonSection {
  margin-top: 20px;
}

.reviewExpandButton {
  height: 60px;
  margin-right: 10px;
}

/**********************
  PHOTO OVERLAY
***********************/

.reviewPhotoExpand {
  position: fixed;
  max-height: 90vh;
  max-width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
  border: 2px solid teal;
  z-index: 1;
  overflow-y: auto;
}

.reviewPhotoExit {
  /* position: absolute; */
  left: 10px;
  top: 10px;
}

/**********************
  INPUT OVERLAY
***********************/

.reviewOverlay {

  /* height: 100vh;
  width: 100vh; */
}

.reviewOverlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 30%;
  height: 100vh;
  width: 100vw;
}

/**********************
  REVIEW INPUT
***********************/

.reviewInput {
  position: fixed;
  --height: 900px;
  --width: 1000px;
  top: calc(50% - (var(--height) / 2));
  left: calc(50% - (var(--width) / 2));
  margin: auto;
  height: var(--height);
  width: var(--width);
  padding: 6px 18px;
  background-color: white;
  border: 2px solid teal;
  z-index: 1;
  overflow-y:scroll;
}

.reviewInput h2 {
  margin-top: 6px;
  margin-bottom: 4px;
}

.reviewInput h3 {
  margin-top: 20px;
  margin-bottom: 6px;
}

.reviewInput>h4 {
  margin-top: 0;
  margin-left: 15px;
}

.reviewInput p {
  margin-top: 0;
}

.reviewInput span {
  margin-left: 3px;
}

.reviewInputExit {
  position: absolute;
  left: 96%;
  top: 10px;
}

.reviewInput textarea {
  width: calc(var(--width) - 105px);
  height: 135px;
  resize: none;
}

/* .reviewInput textarea:first-of-type {
  width: 545px;
  height: 15px;
} */

.reviewTextInput {
  width: 550px;
}

.reviewInputExit:hover {
  cursor: pointer;
  color: red;
}

.reviewSubmit {
  height: 60px;
  width: 150px;
  margin-top: 40px;
}

.reviewSubmitEnable {
  cursor: pointer;
}

/*
  STAR INPUT
*/

.reviewInputStarSection {
  display: flex;
  flex-direction: row;
  width: 300px;
  padding: 1px 5px;
}

.reviewInputStarSection p {
  margin: 0;
  margin-left: 10px;
}

.ratingInputStar {
  margin-right: 7px;
  cursor: pointer;
}

.ratingInputStar:first-child {
  margin-left: 2px;
}

/*
  RECOMMENDATION INPUT
*/

.reviewInputRecommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding: 1px 5px;
  /* background-color: red; */
}

/* .reviewInputRecommendations h3 {
  width: 100%;
  margin: 0;
} */

.reviewInputRecommendations input {
  margin-right: 6px;
  cursor: pointer;
}

.reviewInputRecommendations p {
  margin: 0;
  /* margin-top: 14px; */
  margin-right: 40px;
}

/*
  CHARACTERISTIC INPUT
*/

.reviewInputCharacteristicsAggregate {
  /* border: 1px solid black;
  border-left: 0;
  border-right: 0; */
  padding: 1px 5px;
  width: 550px;
}

.reviewInputCharacteristicSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-top: 5px;
  /* padding-left: 5px; */
  border-bottom: 1px solid black;
  /* border: 1px solid red; */
}

.reviewInputCharacteristicSection:first-child {
  margin-top: 0;
}

.reviewInputCharacteristicSection:last-child {
  /* border-bottom: 0; */
  /* border: 1px solid red; */
}

.reviewInputCharacteristicLabel {
  margin: 0;
  margin-bottom: 3px;
  /* width: 100%; */
  /* background-color: red; */
}

.reviewInputCharacteristicButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid blue; */
}

.reviewInputCharacteristicButtons input {
  cursor: pointer;
}

.reviewInputCharacteristicsDescriptors {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* border: 2px solid green; */
}

.reviewInputCharacteristicsDescriptors p {
  margin: 5px 0;
}

/*
  IMAGES INPUT
*/

.reviewInputPhotoSection {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  height: 110px;
  /* max-height: 120px; */
  width: calc(var(--width) - 100px);
  /* padding: 5px; */
  /* background-color: red; */
  border: 1px solid black;
}

.reviewInputPhotoThumbnail {
  height: 100px;
  margin: 5px;
  margin-right: 10px;
  /* width: 80px; */
}

.reviewInputPhotoButton {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 50% 30px; */
  /* grid-template-columns: 50%; */
  background-color: #cccccc;
  height: 110px;
  width: 80px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.reviewInputPhotoButton:hover {
  background-color: teal;
  cursor: pointer;
}

.reviewInputPhotoButtonPlus {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  /* grid-row: 2; */
  /* grid-column: 2; */
  font-size: 40px;
  margin: auto;
}

.reviewInputPhotoButtonText {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  /* grid-row: 3; */
}